<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title> Flat Buttons Submit Forms :: w3layouts</title>
<link href="/media/css/style2.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat Buttons Submit Forms,Button hover effects,Tool tips, ancher link hover effects,Elements"./>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfonts-->
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
<!--start-main-->
 	<div class="submit-forms">
 		<form class="blue">
            <input type="submit" value="Submit">
			<input type="text" size="30px"  value="你们啊，naive！" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '你们啊，naive！';}">

		 </form>
		 <form class="green">
             <input type="submit" value="Submit">
			<input type="text" size="30px"  value="你们啊，naive！" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '你们啊，naive！';}">
		 </form>

		  <form class="yellow">
               <input type="submit" value="Submit">
			<input type="text" size="30px"  value="你们啊，naive！" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '你们啊，naive！';}">

		 </form>
		 <form class="red">
             <input type="submit" value="Submit">
			<input type="text" size="30px"  value="你们啊，naive！" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '你们啊，naive！';}">

		 </form>

         <form class="purple">
			<input type="submit" value="Submit">
		 </form>
	</div>
	<!--start-copyright-->
   		<div class="copy-right">
   			<div class="wrap">
				<p>2016 &copy 信息检索一颗赛艇 <a href="http://w3layouts.com/" target="_blank">  我只是来搞笑的 </a></p>
		</div>
	</div>
	<!--//end-copyright-->
		 		
</body>
</html>