<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Flat Search Box Responsive Widget Template | Home :: w3layouts</title>
<!-- Custom Theme files -->
<link href="/media/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Flat Search Box Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<!--search start here-->
<div class="search">
	<i> </i>
	<div class="s-bar">
	   <form action="/res/" method="get">
		<input type="text" name="q" value="谁是2037之子" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '谁是2037之子';}">
		<input type="submit"  value="搜索"/>
	  </form>
	</div>
	<p>搜索最多: <a href="#">上黄网多多益善,</a> <a href="#"> 猪肉多少钱一斤 </a></p>
</div>
<!--search end here-->	
<div class="copyright">
	 <p>2016 &copy 信息检索一颗赛艇 <a href="http://w3layouts.com/" target="_blank">  我只是来搞笑的 </a></p>
</div>	
</body>
</html>